{%load staticfiles%} 
<!DOCTYPE html>
<html>
<head>
  <title>Erasmus World</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css'%}" />

</head>
<body>

<div class="header">
  <h1>Welcome to Erasmus World</h1>
</div>

<ul>
  <li><a class="active" href="http://127.0.0.1:8000">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Places</a>
    <div class="dropdown-content">
      <a href="#">Favourites</a>
      <a href="blog/">All</a>
      <a href="#">Need to go</a>
	  <a href="#">Find</a>
	  <a href="blog/post/new">New Post</a>
    </div>
  </li>
  <li><a href="#news">Post a place</a></li>
  <li><a href="#news">News</a></li>
  <li style="float:right"><a href="http://127.0.0.1:8000/admin/">Log In</a></li>

</ul>

<section>
   
  <article>
    <h2>London</h2>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    
	<p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    
	<p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>Standing on the River Thames, London hassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
  </article>
</section>

<footer>
  <li><a href="#contact">Contact</a></li>
		<li><a href="{% url 'polls:detail' 2 %}">Que te parece nuestra página?</a></li>
</footer>
</body>
</html>